@model IEnumerable<ZenithWebSite.Controllers.HomeController.EventActivityModel>

@{
    ViewBag.Title = "Home Page";
}


<div class="container">
    <div class="container text-center">
        <div class="row">
            <h2><span class="glyphicon glyphicon-calendar"></span> Schedule</h2>
            <br />
        </div>
    </div>
    <div class="row">
        @foreach (var e in Model.GroupBy(item => item.Event.StartDateTime))
            {
            <div class=@e.Key.ToString("dddd") onclick="foldContent(this.className)">

                <div class="container text-center" style="background-color:#333; color:#eee;">
                    <div class="col-md-5">
                        <p>@e.Key.ToString("dddd MMM dd, yyyy")</p>
                    </div>
                    <div class="col-md-5">
                        <p>Description</p>
                    </div>
                    <div class="col-md-2">
                        <p><span class="glyphicon glyphicon-chevron-down"></span></p>
                    </div>
                </div>


                <div class="data" id=@e.Key.ToString("dddd")>
                    <table class="table">
                        @foreach (var a in e)
                        {
                            <tr>
                                <td class="eventTime">@a.Event.StartDateTime.ToString("HH:mm tt") - @a.Event.EndDateTime.ToString("HH:mm tt")</td>
                                <td class="activityDescr">@a.Activity.ActivityDescription</td>
                                @if (User.IsInRole("Admin"))
                                {
                                    <td class="activityDescr">
                                        <a href="/Events/Edit/@a.Event.EventId"><span class="glyphicon glyphicon-pencil"></span></a>
                                        <a href="/Events/Edit/@a.Event.EventId"><span class="glyphicon glyphicon-trash"></span></a>
                                    </td>
                                }
                            </tr>
                        }
                    </table>
                </div>
                <br />
            </div>
        }
    </div>
</div>